{% extends 'Base.html' %} {% block title %}Book Shop | Home{% endblock %} {%
load static %} {% load socialaccount %} {% block content %}
<style>
  .forgot-container {
    background-color: #fff;
    width: 50%;
    height: 150px;
    margin: 20px auto;
    border-radius: 8px;
    box-shadow: #495057;
  }
  .btn {
    top: -38px;
    position: relative;
    left: 331px;
  }
</style>
<section class="forgot-container">
  <div class="center">
    <h2>Forgot Password</h2>
    <form method="POST">
      {% csrf_token %}
      <input
        type="email"
        name="email"
        class="form-control"
        placeholder="Enter your email"
        aria-label="Username"
        aria-describedby="basic-addon1"
        required
      />
      <button type="submit" class="btn btn-warning">Send</button>
    </form>
  </div>
</section>
{% endblock %}
