{% extends 'Base.html' %} {% block title %}Book Shop | Home{% endblock %} {%
load static %} {% load socialaccount %} {% block content %}

<div class="body-content outer-top-vs" id="top-banner-and-menu">
  <div
    class="container-fluid"
    style="display: flex; align-items: center; justify-content: center"
  >
    <div
      class="col-sm-12 recent-hd"
      style="
        width: 50%;
        background-color: #fff;
        padding: 10px;
        margin-bottom: 20px;
        background-color: #ffffff;
        margin-bottom: 20px;
      "
    >
      <h2 style="text-align: center; padding-top: 15px; font-size: 1.2rem">
        Password Reset Email Sent
      </h2>
      <p style="text-align: center; padding-bottom: 15px">
        If an account with that email exists, we've sent you a password reset
        link.
      </p>
    </div>
  </div>
</div>
{% endblock %}
