{% extends 'Base.html' %} {% block title %}Book Shop | Home{% endblock %} {%
load static %} {% load socialaccount %} {% block content %}
<div class="body-content outer-top-vs" id="top-banner-and-menu">
  <div class="container-fluid">
    <div class="col-sm-12 recent-orders-hd" style="display: flex">
      <div class="col-sm-4 nav-1">
        <ul class="nav nav-pills nav-stacked">
          <li>
            <a href="/accounts/user_accounts/">
              <i class="fa-solid fa-user"></i><span>Account</span>
            </a>
          </li>
          <li>
            <a href="/accounts/user_order/">
              <i class="fa fa-cart-arrow-down"></i><span>Orders</span>
            </a>
          </li>
          <li>
            <a href="/accounts/user_wishlist/">
              <i class="fa fa-heart-o"></i><span>Wishlist</span>
            </a>
          </li>
          <li>
            <a href="/accounts/user_review/">
              <i class="fa fa-star"></i><span>Reviews & Rating</span>
            </a>
          </li>
          <li>
            <a href="/accounts/user_coupon/">
              <i class="fa fa-ticket"></i><span>My Coupons</span>
            </a>
          </li>
        </ul>
      </div>

      <div class="col-sm-8 profss-1">
        <div class="middlenav" style="min-height: 733px; margin-bottom: 30px">
          <h1
            style="
              font-family: 'Krub', sans-serif;
              font-size: 30px;
              font-weight: 100;
              padding-bottom: 10px;
              padding-left: 25px;
              padding-top: 30px;
            "
          >
            My Wishlist
          </h1>
          <p class="subTitle">You have 0 product(s) in your wishlist</p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
